:root {
  --main-font: 'Inter';
  --accent-font: 'PressStart2P-Regular';
  --bg-color: #fff;
  --color: #000;
  --stroke-color: #fff;
  --heart-color: red;
  --border-color: #000;
  --linear-gradient-first: #e7e7e7;
  --mix-blend-color: #fff;
  --linear-gradient-second: #1a1a1a;
  --accent-color: #000;
  --border-color: #000;
  --header-weight: 700;
  --text-weight: 400;
}